/*body styling */
body {
    margin: 0px;
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.6;
    background-color: #fefdff;
}

/* Header styling */
header {
    background-color: #fefdff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.logo-icon {
    border: 1px;
    width: 50px;
    height: 50px;
}

.logo-icon img {
    width: 50px;
    height: 50px;
}

nav {
    margin: 20px 0;
    text-align: center;
    display: flex;
    gap: 20px;
}

nav a {
    color: #040d1e;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    /* background: #034ed4; */
    color: #034ed4;
    border-bottom: 2px solid #034ed4;
}

.nav-button {
    display: flex;
    gap: 10px;
    align-items: center;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #040d1e;
    margin: 4px 0;
}


/* Main content styling */
main {
    margin: 40px;
}

section {
    min-height: 400px;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Heading and paragraph styling */
h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: unset;
}

p {
    font-size: 16px;
    margin: auto;
    margin: unset;
}

/* Visitor name styling */
#name {
    cursor: pointer;
    color: #2d75f8;
}

#name:hover {
    color: #034ed4;
}

/* Name Hover Tooltip  */
.tooltip {  
    position: relative; 
    cursor: pointer;  
}  

.tooltip::after {  
    content: attr(data-tooltip); 
    position: absolute;  
    bottom: 100%; 
    left: 100%;
    transform: translate(-5px); 
    font-size: 12px;
    background-color: #034ed4; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    white-space: nowrap; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s;  
}  

.tooltip:hover::after {  
    opacity: 1; 
    visibility: visible; 
}

/* Banner Auto Slides */
.slides {  
    display: flex;  
    flex-direction: column;  
    align-content: center;  
    justify-content: center;  
    align-items: center;  
    height: 500px;  
}  
  
.img-slideshow {    
    width: 100%;  
    height: auto;  
    max-height: 500px;  
    display: block;  
    object-fit: cover;
    border-radius: 20px; 
}  

.slide-button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/* Styling Section form */
.form-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.form-section form,
.form-section .preview-message {
    flex: 1;
    box-sizing: border-box;
}

/* Works section styling */
#works {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #f8f9Fc;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 11%);
}

.project-image {  
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center; 
}  
  
.project-image img {  
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px; 
} 

.project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 300px;
    gap: 8px;
}

/* Form styling */
form {
    min-width: 300px;
    margin-top: 15px;
    display: flex;
    gap: 8px;
    border-radius: 10px;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    gap: 8px;
}

label {
    min-width: 80px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.radio-group {
    display: flex;
    gap: 8px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 4px;
}

input, textarea {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

.error-message {
    color: #d31010;
    font-size: 12px;
    margin-top: 5px;
}

button {
    font-family: "Lexend Deca", sans-serif;
    width: fit-content;
    height: fit-content;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff;
    background-color: #040d1e;
    cursor: pointer;
}

button:hover {
    background: #034ed4;
    color: #fff;
}

/* Preview Message */
.preview-message {  
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    gap: 8px;
}  

.preview-item {
    display: flex;
    gap: 4px;
}

/* Footer styling */
footer {
    display: flex;
    padding: 10px 20px;
}

.footer-container {
    display: flex;
    width: 100%;
    background-color: #f8f9Fc;
    padding: 10px;
    border: #ccc;
    border-radius: 40px;
}

.footer-content {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center; 
    justify-content: center;
    background-color: #fff;
    border: #ccc;
    border-radius: 20px;
}

/* Menyembunyikan section yang muncul karena plugin */
#loom-companion-mv3 {  
    display: none !important;  
}  

/* Mobile responsive */  
@media (max-width: 600px) {  
    main {  
        margin: 20px;  
    }

    header {  
        display: flex;  
        align-items: center;  
        z-index: 3;  
    }  
  
    .nav-button {  
        flex-direction: column;  
        justify-content: flex-start;  
    }  
  
    nav {  
        display: none;
        position: absolute;
        gap: 0;
    }  
  
    nav.active {  
        top: 50px;
        left: 0;
        display: flex;
        flex-direction: column;
        position: absolute; 
        width: 100%;  
        background-color: #fefdff;  
        border-bottom: 1px solid #ccc;  
        z-index: 1;  
    }  
  
    nav a {
        padding: 20px;  
        width: 100%;  
        text-align: left;  
    }  
  
    nav a:hover {  
        background: transparent;  
        color: inherit;  
    }  
  
    .hamburger {  
        display: flex;  
    } 
  
    #name:hover {
        color: aqua;
    }

    .form-section {  
        flex-direction: column;  
    }  
}  
