/*body styling */
body {
    margin: 0px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
    border-bottom: 1px solid #ccc;
}

.logo-icon {
    border: 1px;
    width: 50px;
    height: 50px;
}

/* Navigation styling */
header {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding: 10px;  
}  
  
.logo-icon img {  
    width: 50px;  
    height: 50px;  
}  
  
nav {  
    margin: 20px 0;  
    text-align: center;  
    display: flex;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
}  
  
nav a {  
    color: #000;  
    text-decoration: none;  
    padding: 5px 10px;  
    border-right: 1px solid #ccc;  
    border-left: 1px solid #ccc;  
}  
  
nav a:hover {  
    background: #333;  
    color: #fff;  
}  
  
.nav-button {  
    display: flex;  
    gap: 10px;  
    align-items: center;  
}  
  
/* Header responsive */
@media (max-width: 600px) {  
    header {  
        flex-direction: column;  
        align-items: center;  
    }  
  
    .nav-button {  
        flex-direction: column;
        margin-top: 10px;  
        width: 100%;  
        justify-content: flex-start;  
    }  
  
    nav {  
        flex-direction: column;  
        align-items: center;  
        width: 100%;  
        border-right: none;  
        border-left: none; 
    }  
  
    nav a {  
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;  
        padding: 10px;  
        width: 100%;  
        text-align: left;  
    }  
  
    nav a:hover {  
        background: #333;  
        color: #fff;  
    }  
}  


/* Main content styling */
main {
    margin: 40px;
}

section {
    min-height: 400px;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Banner Auto Slides */
.slides {  
    display: flex;  
    flex-direction: column;  
    align-content: center;  
    justify-content: center;  
    align-items: center;  
    height: 500px;  
}  
  
.img-slideshow {    
    width: 100%;  
    height: auto;  
    max-height: 500px;  
    display: block;  
    object-fit: cover; 
}  

.slide-button {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


/* Styling Section form */
.form-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-section form,
.form-section .preview-message {
    flex: 1;
    box-sizing: border-box;
}

/* Form styling */
form {
    margin-top: 15px;
}
  
#userForm {
    display: flex;
    gap: 8px;
    border-radius: 10px;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
}

label {
    min-width: 80px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.radio-group {
    display: flex;
    gap: 8px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 4px;
}

input, textarea {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button {
    width: fit-content;
    height: fit-content;
    padding: 10px 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

button:hover {
    background: #333;
    color: #fff;
}

/* Preview Message */
.preview-message {  
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    gap: 8px;
}  

.preview-item {
    display: flex;
    gap: 4px;
}

/* Footer styling */
footer {
    background-color: #302d5e;
    color:#fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

/* Menyembunyikan section yang muncul karena plugin */
#loom-companion-mv3 {  
    display: none !important;  
}  
